.form{
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  
}
.form h1{
    padding-top: 100px ;
    color: #fff;
}

form{
    padding: 20px;
}
form input {
  width: 25%;
  padding: 10px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.form {
    padding-bottom: 70px;
}

